footer{
    background-color: #921d10;
    margin-bottom: 8vh;
}

.formulaire{
    width: 50%;
    background-color: #313138;
    border-radius: 25px;
    padding: 0 5% 2% 5%;
    margin: 0 0 2% 21%;
}

.footer{
    display: flex;
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nom{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nom > input{
    width: 45%;
}

form input, form textarea{
    margin-bottom: 2%;
}

input, textarea{
    border-radius: 10px;
}

.reseaux{
    display: flex;
    filter: invert();
    justify-content: space-around;
}

.reseaux > img{
    width: 30px;
}

.inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inscription input, .inscription button{
    width: 75%;
}

.inscription input{
    margin-bottom: 5%;
}

@media screen and (max-width: 1024px) {
    footer > img{
        width: 20%;
        margin-left: 40%;
      }

      .footer{
        display: flex;
        flex-direction: column;
      }
    
      .formulaire{
        width: 50%;
        margin-left: 20%;
      }

      .inscription button{
        width: 25%;
      }
    
      .reseaux{
        display: flex;
        justify-content: space-around;
        width: 25%;
        margin-left: 37%;    
      }
    
      .inscription{
        width: 50%;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 25%;    
      }
    
      .inscription input{
        margin-top: 5%;
        padding: 5px 0 5px 0;
      }
    
    .inscription input, .inscription button{
        width: 20%;
      }
    
      .nom{
        width: 50%;
      }
}